@{
    ViewBag.Title = "User profile";
}

<div class="profile_class" style="padding-top: 1ex">
    <table class="table table-bordered">
        <tbody>
            <thead style="background-color: white">
                <td>
                    Summary - @ViewBag.Profile.Name
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator") || ViewBag.UserId == ViewBag.Profile.ProfileId)
                    {
                        <a href="/Profile/Edit/@ViewBag.Profile.ProfileId" style="text-decoration: none;">
                            <i class="glyphicon glyphicon-edit" style="color: green"></i>
                        </a>
                    }
                </td>
            </thead>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-user"></i><strong> Name: </strong>
                </td>
                <td>
                    @ViewBag.Profile.Name
                </td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-map-marker"></i><strong> Location: </strong>
                </td>
                <td>
                    @ViewBag.Profile.City
                </td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-envelope"></i><strong> Email: </strong>
                </td>
                <td>
                    @ViewBag.UserEmail
                </td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-book"></i><strong> Subjects: </strong>
                </td>
                <td>
                    @ViewBag.SubjectNumber
                </td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-comment"></i><strong> Comments: </strong>
                </td>
                <td>
                    @ViewBag.CommentNumber
                </td>
            </tr>
            <tr>
                <td>
                    <i class="glyphicon glyphicon-gift"></i><strong> Birthday: </strong>
                </td>
                <td>
                    @ViewBag.Profile.Birthday
                </td>
            </tr>
        </tbody>
    </table>

</div>
