@{
    ViewBag.Title = "Edit Profile";
}

<h2>@ViewBag.Title</h2>
<div>
    <li>
        Name: @ViewBag.Profile.Name
    </li>
    <li>
        Birthday: @ViewBag.Profile.Birthday.ToShortDateString()
    </li>
    <li>
        Subjects: @ViewBag.SubjectNumber
    </li>
    <li>
        Comments: @ViewBag.CommentNumber
    </li>

    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator") || ViewBag.UserId == ViewBag.Profile.ProfileId)
    {
        <a class="btn btn-success" href="/Profile/Edit/@ViewBag.Profile.ProfileId">Edit Profile</a>
    }
</div>
