@model Forum.Models.Subject

<div class="panel-heading article-heading"
     
     @if (ViewData["subjectClickable"] != null)
     {
         <text>
            onclick="window.location = '/Subject/Show/@Model.SubjectId'"
         </text>
     }

     >
    <span class="font-roboto article-title">@Model.Title</span>
</div>

<div class="panel-body"

     @if (ViewData["subjectClickable"] != null)
     {
         <text>
            onclick="window.location = '/Subject/Show/@Model.SubjectId'"
         </text>
     }

     >
    <div class="article-content-wrapper">
        @Html.Raw(Model.Description)
    </div>
</div>
<div class="article-meta" onclick="event.stopPropagation(); event.stopImmediatePropagation();">
    <div>
        <span SubjectId="@Model.SubjectId" class="subject-vote-container" style="color: blue; visibility: hidden" onclick="VoteSubject(this, @Model.SubjectId, event)">
            <span class="vote_count"></span>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </span>
    </div>
    <div class="">
        <i class="glyphicon glyphicon-user"></i>
        <strong> @Model.User.UserName </strong>
    </div>
    <div>
        <i class="glyphicon glyphicon-time"></i>
        @Model.Date
    </div>
    <div>
        <i class="glyphicon glyphicon-bookmark"></i>
        @Model.Category.CategoryName
    </div>
</div>

