@model Forum.Models.Subject

@{
    ViewBag.Title = "Adding subject to category: " + ViewBag.CategoryName;
}


<h2>@ViewBag.Title</h2>

@*<form method="post" action="/Category/New">*@
@using (Html.BeginForm(actionName: "New", controllerName: "Subject"))
{
    @Html.Hidden("categoryName", (string)ViewBag.CategoryName)


    @Html.ValidationSummary(false, "Validation errors", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.CategoryId)

    @Html.LabelFor(m => m.Title)
    <br />
    @Html.EditorFor(m => m.Title)
    <br /> <br />

    @Html.LabelFor(m => m.Description)
    <br />
    @Html.TextArea("Description", Model.Description, new { @class = "form-control summernote", @style = "display: none" })
    <br />

    <br /><br />
    <button class="btn btn-success" type="submit">Add subject</button>
    @*</form>*@
}

