@model Forum.Models.Subject
@{
    ViewBag.Title = "Subject information";
}

<h2> @ViewBag.Title </h2>

<div class="panel panel-default form-and-dropdown-wrapper">
    @Html.Partial("SubjectInfo", Model)

    @if (ViewBag.UserId == Model.UserId || User.IsInRole("Moderator") || User.IsInRole("Administrator")) { 
        <div class="panel-footer article-panel-footer">

            @if (ViewBag.UserId == Model.UserId)
            {
                <a class="btn btn-primary" href="/Subject/Edit/@Model.SubjectId">Edit subject</a>

                <form action="/Subject/Delete" method="post">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)

                    @Html.Hidden("id", Model.SubjectId)

                    <button class="btn btn-danger" type="submit">Delete subject</button>
                </form>
            }


            <div style="display: none">
                @using (Html.BeginForm(actionName: "Delete", controllerName: "Subject", routeValues: new
                {
                    id = Model.SubjectId
                }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                }
            </div>

            @if (User.IsInRole("Moderator") || User.IsInRole("Administrator")) {
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Sudo
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="dropdown-header">Admin</li>
                            <li><a href="/Subject/Edit/@Model.SubjectId">Edit subject</a></li>
                            <li><a href="#" class="dropdown-delete">Delete subject</a></li>
                            <li><a href="#" onclick='Clear(@Model.SubjectId)'>Clear votes</a></li>
                            <li role="separator" class="divider"></li>
                        }
                        <li class="dropdown-header">Moderator</li>
                        <li><a href="/Subject/EditCategory/@Model.SubjectId">Edit subject category</a></li>
                    </ul>
                </div>
            }

        </div>
    }
</div>

<hr />

<a class="btn btn-info" href="/Category/Show/@Model.CategoryId">All category subjects</a>
<a class="btn btn-info" href="/Subject/CreateComment/@Model.SubjectId">Add a new comment in this subject</a>

<script type="text/javascript">
    function DateToString(date) {
        document.getElementsByClassName("left_coll").appendChild
        return "Asd";
        switch (date) {
            case 1: return "January"; break;
            default: return "Something";
        }
        console.log("asd");
    }
</script>

<div>

    @for (int i = 0; i < ViewBag.Comments.Count; ++i)
    {
        Forum.Models.Comment comment = ViewBag.Comments[i];
        string divId = $"comment{i}";

        <text>
            <div id="@divId" class="commentDiv panel panel-default form-and-dropdown-wrapper" CommentId="@comment.CommentId" style="margin: 20px 0px;">
                <div class = "comm_box panel-body" style="background-color: white">
                    <div class="left_coll">
                        <i class="glyphicon glyphicon-user"></i> 
                        <strong style="font-size: medium"> 
                            <a href="/Profile/Index/@comment.User.Id" style="color: black">
                                @comment.User.UserName
                            </a>
                        </strong>
                        <br />
                        
                        <p style="font-size: small">
                            @switch (comment.Date.Month)
                            {
                                case 1:<text> January </text> break;
                                case 2: <text> February  </text> break;
                                case 3: <text> March  </text> break;
                                case 4: <text> April </text> break;
                                case 5: <text> May </text> break;
                                case 6: <text> June </text> break;
                                case 7: <text> July </text> break;
                                case 8: <text> August </text> break;
                                case 9: <text> September </text> break;
                                case 10: <text> October </text> break;
                                case 11: <text> November </text> break;
                                case 12: <text> December </text> break;
                                default: <text> - </text>break;
                            }
                            @comment.Date.Day, @comment.Date.Year @comment.Date.ToString("HH:mm:ss")
                        </p>
                        <p class="p_vote_count" style="display: inline-block;"></p>
                    </div>
                    <div class="right_coll">
                        @Html.Raw(comment.Content)
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        <div class="drop_comm">
                            @if (ViewBag.UserId == comment.UserId)
                            {
                                <a href="/Comment/Edit/@comment.CommentId" style="text-decoration: none;">
                                    <i class="glyphicon glyphicon-edit" style="color: green"></i>
                                </a> 
                                <br />
                            }
                            @if (ViewBag.UserId == comment.UserId || User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                            {
                                <form method="post" action="/Comment/Delete/@comment.CommentId" style="display: inline-block;">
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)

                                    <button type="submit" style="padding: 0; border: none; background: none;">
                                        <i class="glyphicon glyphicon-remove" style="color: red"></i>
                                    </button>
                                </form>
                            }
                        </div>
                    }
                </div>

                @if (Request.IsAuthenticated)
                {
                    <text>
                        <div class="panel-footer article-panel-footer">
                            @if (Request.IsAuthenticated)
                            {
                                <input class="btn btn-success vote_btn" type="button" onclick="VoteComment('@divId', @comment.CommentId)" value="Vote" style="display: none;">
                            }
                        </div>
                    </text>
                }
            </div>
        </text>
    }

</div>








@Html.Partial("CommentUpvoteScript", Model)
