@model Forum.Models.Subject
@{
    ViewBag.Title = "Afisare subiect";
}

<h1> @ViewBag.message </h1>
<h2> @ViewBag.Title </h2>

<body onload="Initialize()" />

<div class="panel panel-default">
    @Html.Partial("SubjectInfo", Model)

    @*<form action="Vote" target="UpvoteSubject">
            <button class="btn btn-success" type="submit">Vote</button>
        </form>*@

    <p id="p_vote_count">Vote count: </p>
    <input id="vote_btn" class="btn btn-success" type="button" onclick='Vote()' value="Vote">
    <input id="clear_btn" class="btn btn-success" type="button" onload="alert('123')" onclick='Clear()' value="Clear">
    <a class="btn btn-success" href="/Subject/Edit/@Model.SubjectId">Editare subiect</a>

    <div style="display: inline-block">
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Subject", routeValues: new
        {
            id = Model.SubjectId
            //@style = "display: inline-block"
        }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)

            <button class="btn btn-success" type="submit">Sterge subiectul</button>
        }
    </div>
</div>



<br /> <br /> <br /> <br /> <br /> <br />
<a class="btn btn-info" href="/Category/Show/@Model.CategoryId">All category subjects</a>
<br /> <br />

<br />
<hr />
<br />

<script type="text/javascript">
    function Vote() {
        $.ajax({
            type: 'GET',
            url: '/UpvoteSubject/Vote',
            data: { 'subjectId': JSON.stringify(@Model.SubjectId) },
            success: function (result) {
                var tmp = JSON.parse(result);

                document.getElementById("vote_btn").value = tmp.VoteText;
                document.getElementById("p_vote_count").innerHTML = "Vote count: " + tmp.VoteCount;
            },
            error: function (result) {
                alert("Error " + result)
            }
        });
    }
    function Clear() {
        $.ajax({
            type: 'GET',
            url: '/UpvoteSubject/Clear',
            success: function (result) {
                alert(result);
            }
        });
    }
    function Initialize() {
        $.ajax({
            type: 'GET',
            url: '/UpvoteSubject/Initialize',
            data: { 'subjectId': JSON.stringify(@Model.SubjectId) },
            success: function (result) {
                var tmp = JSON.parse(result);

                document.getElementById("vote_btn").value = tmp.VoteText;
                document.getElementById("p_vote_count").innerHTML = "Vote count: " + tmp.VoteCount;
            }
        });
    }
</script>
