@model Forum.Models.Comment
@{
    ViewBag.Title = "Edit comment";
}


<h2> @ViewBag.Title </h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Comment", method: FormMethod.Post, routeValues: new
{
    id = Model.CommentId
}))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.ValidationSummary(false, "Erori de validare", new { @class = "text-danger" })


    @Html.LabelFor(m => m.Content)
    <br />
    @Html.TextArea("Content", Model.Content, new { @class = "form-control summernote", @style = "display: none" })
    <br />
    @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })

    <br />
    <button class="btn btn-success" type="submit">Save changes</button>
}

