@model Forum.Models.Comment

@{
    ViewBag.Title = "Adding comment to subject: " + ViewBag.SubjectTitle;
}

<h2>@ViewBag.Title</h2>

@*<form method="post" action="/Category/New">*@
@using (Html.BeginForm(actionName: "New", controllerName: "Comment"))
{
    @Html.Hidden("subjectTitle", (string)ViewBag.SubjectTitle)


    @Html.ValidationSummary(false, "Validation errors", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.SubjectId)

    @Html.LabelFor(m => m.Content)
    <br />
    @Html.TextArea("Content", Model.Content, new { @class = "form-control summernote", @style = "display: none" })
    <br />
    <br />

    <br /><br />
    <button class="btn btn-success" type="submit">Add comment</button>
    @*</form>*@
}

