@model Forum.Models.Comment
@{
    ViewBag.Title = "Showing the comment";
}

<h2> @ViewBag.Title </h2>

<div class="panel panel-default">
    @Html.Partial("CommentInfo", Model)
    <p> Subject: @Model.Subject.Title </p>
    <p> Category: @Model.Subject.Category.CategoryName </p>
    
    <p id="p_vote_count">Vote count: </p>
    <input id="vote_btn" class="btn btn-success" type="button" onclick='Vote()' value="Vote">
    <input id="clear_btn" class="btn btn-success" type="button" onclick='Clear()' value="Clear">

    <a class="btn btn-success" href="/Comment/Edit/@Model.CommentId">Edit comment</a>

    <div style="display: inline-block">
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Comment", routeValues: new
        {
            id = Model.CommentId
            //@style = "display: inline-block"
        }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)

            <button class="btn btn-danger" type="submit">Delete comment</button>
        }
    </div>
</div>

<a class="btn btn-info" href="/Subject/Show/@Model.SubjectId">All subject comments</a>

<br /> <br />

<br />
<hr />
<br />








@Html.Partial("CommentUpvoteScript", Model)
