@model Forum.Models.Category
@{
    ViewBag.Title = "Show Category";
}

<h2> @ViewBag.Title </h2>

<div style="padding-bottom: 20px;">
    @Html.Partial("CategoryInfo", Model)
</div>

@if (Request.IsAuthenticated) 
{
    <a class="btn btn-primary" href="/Category/CreateSubject/@Model.CategoryId">Add a new subject in this category</a>
}

@*Form for selecting a sorting criteria*@
<form method="get" action="/Category/Show/@Model.CategoryId" style="float: right">
    <input type="hidden" name="page" value="@ViewBag.currentPage" />
    @Html.DropDownList((string)ViewBag.criteriaGetParam, new SelectList(ViewBag.criteriaList, "Value", "Text", ViewBag.criteriaValue), null, null)
    @Html.DropDownList((string)ViewBag.orderGetParam, new SelectList(ViewBag.orderList, "Value", "Text", ViewBag.orderValue), null, null)
    <button type="Submit"> Sort </button>
</form>


<div>

    @foreach (Forum.Models.Subject subject in ViewBag.subjects)
    {
        ViewData["subjectClickable"] = true;

        <hr />
        <div class="panel panel-default">
            @Html.Partial("SubjectInfo", subject)
        </div>

        ViewData["subjectClickable"] = null;
    }

</div>


@if (ViewBag.totalItems > 0)
{
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="/Category/Show/@Model.CategoryId?page=1&@ViewBag.criteriaGetParam=@ViewBag.criteriaValue&@ViewBag.orderGetParam=@ViewBag.orderValue" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li><a href="/Category/Show/@Model.CategoryId?page=@i&@ViewBag.criteriaGetParam=@ViewBag.criteriaValue&@ViewBag.orderGetParam=@ViewBag.orderValue">@(i)</a></li>
                }
                <li>
                    <a href="/Category/Show/@Model.CategoryId?page=@ViewBag.lastPage&@ViewBag.criteriaGetParam=@ViewBag.criteriaValue&@ViewBag.orderGetParam=@ViewBag.orderValue" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
}
